.manufacsec2obwiy{
    padding-top:100px ;
    background-color: white;
}
.manuafcsec2title h1{
    font-weight: 700;
    margin-bottom: 24px;
    color: rgb(9, 21, 45);
}
.manufacsec2liniya{
    max-width: 320px;
    height: 1px !important;
    background-color: rgb(9, 21, 45);
}
