.consec2obwiy{
    padding: 100px 0;
    background-color: white;
}
.consec2title h1{
    font-weight: 700;
    margin-bottom: 24px;
    color: rgb(9, 21, 45);
}
.consec2chizu{
    margin: 16px 495px !important;
    max-width: 320px;
    height: 3px !important;
    background-color: rgb(9, 21, 45) !important;
   
}
.qurol .row{
    padding: 0 !important;
}
.qurol b{
    font-size: 18px;
}
.qurol span{
    font-size: 16px;
}
.form{
    display:block;
}
.consec2obwiy a{
    font-weight: 700;
    padding: 10px 20px;
    font-size: 18px;
    outline: 0px;
    border: 0px;
    color: white !important;
    background-color: rgb(233, 157, 1);
}