header ul{
    list-style-type: none;
}
.show {
    width: 300px;
    padding: 20px;
  }
.div{

    /* width: 0px;
    flex-shrink: 0;
    padding: 20px 0;
    background-color: #123;
    height: 100vh;
    min-height: 500px;
    color: white;
    position: sticky;
    top: 0;
    overflow: hidden;
    transition: 0.3s; */
    background-color: white;
    letter-spacing: 2px;
    line-height: 30px;
    height: calc(100vh);
    overflow: hidden;
    min-height: 500px;
 
    position: sticky;
    top: 0;
    right: -40px;
    width: 400px !important;
    z-index: 1000;
    transition: all 0.3s ease-in-out 0s;
}
.div:hover{
    transition: 0.3s;
}

.barcha{
    font-size: 24px;
   
}
.next:active{
    background-color: transparent !important;

}
.next.active{
    background-color: transparent !important;

}
.next{
    padding: 10px 15px;
    z-index: 10001;
    background-color: transparent;
}

header{
    margin-bottom: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
height: 70px;
    margin-bottom: 0 !important;
    background-color: white;
}


.mobile{
    position: fixed;
    display: flex;
    justify-content: center;
    right: -100%;
    top: 0;
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
}
.mobile.active{
    right: 0;
    transition: 0.3s;
}
.mobile:hover{
    transition: 0.3s;
}
.inner-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    background-color: white !important;
    top: 0 !important;
   
}
   .skritiy{
       padding-top: 80px;
       height: 100%;
       text-align: center;
}
.skritiy a{
       padding: 10px 20px ;
       font-size: 20px !important;
   }
ul li a {
    font-size: 16px !important;
  font-weight:600;
    
}
li a:hover {
color: #FEBC22 !important;
}
.main{
color: #FEBC22 !important;
    
}
.active{
color: #FEBC22 ;

}
.inactive{
    color: black !important;
}
.ulcha{
    margin-bottom: 0 !important;
    margin-top: 5px;
}
.ulcha li{
    position: relative;
    margin: 0 16px !important;
    transition: 0.8s;

}
.ulcha a{
    padding: 8px 0 !important;
}
.logo{
    width: 107px;
    height: 30px;
}
.href::after{
    content: '';
    height:2px ;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #FEBC22;
    transition: 0.8s;

}
.href:hover::after{
    width: 100%;
    transition: 0.8s;
}
.act::after{
    content: '';
    height:2px ;
    width: 100%; 
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #FEBC22;
}

