.aboutsec1obwiy{
    background-image: url("https://osten.vercel.app/images/index/about.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 60vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-height: 500px;
}
.aboutsec1obwiy::before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    z-index: 0;
    background: linear-gradient(
90deg
, rgba(9, 21, 45, 0.7) 0%, rgba(9, 21, 45, 0.25) 35%, rgba(0, 212, 255, 0) 100%);
    /* background: rgb(9, 21, 45); */
    opacity: 0.5;
}

.aboutsec1obwiy h1{
    font-size: 60px;
    text-shadow: rgb(0 0 0) 5px 5px 5px;
    font-weight: 900;
}
.aboutsec1obwiy p{
    font-size: 22px;
    margin: 10px 0px 0px;
    font-weight: 700;
}


