.sersec2obwiy{
    padding-top:100px ;
    background-color: white;
}
.serse2title h1{
    font-weight: 700;
    margin-bottom: 24px;
    color: rgb(9, 21, 45);
}
.sersec2liniya{
    margin: 16px 495px;
    max-width: 320px;
    height: 10px;
    font-weight: bold;
    background-color: black;
}
.serverspan{
    font-size: 16px;
    font-weight: 500;
}
.ser2span{
    font-size: 18px;
}
.sersec2qaysidur{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sersec2qaysidur p{
    font-size: 18px;
}
.sersec2qaysidur ul li{
    font-size: 16px;
    margin-left: 36px;
}
.sersec2qaysidur p{
    color: #212529 !important;

}
.sersec2qaysidur span{
    color: #212529 ;

}
.sersec2qaysidur ul{
    color: #212529 ;

}
.manulist:hover .serverspan{
color: white !important;
}

