.sersec2obwiy{
    padding-top:100px ;
    background-color: white;
}
.serse2title h1{
    font-weight: 700;
    margin-bottom: 24px;
    color: rgb(9, 21, 45);
}
.sersec2liniya{
    margin: 16px 495px;
    max-width: 320px;
    height: 10px;
    font-weight: bold;
    background-color: black;
}
